{% include 'template.twig' %}
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/imgs/contact-icon.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{username}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVEGAÇÃO PRINCIPAL</li>
      <li>
        <a href="/painelgmgothicpt/home">
          <i class="fa fa-home"></i> <span>Home</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i>
          <span>Gerenciar Usuários</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Banir Player</a></li>
          <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Players punidos</a></li>
          <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Ver dados do player</a></li>
          <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Adicionar Gold</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i>
          <span>Gerenciar GM's</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Cadastrar GM</a></li>
          <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Editar cadastro</a></li>
          <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Excluir GM</a></li>
          <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> GM's cadastrados</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
