@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

#bodyId{
  background-color: #ECF0F5;
}

.color-black{
  color: #000000;
}

.dropdown-menu{
  margin-left: -195px;
}

.logoLogin{
  margin-left: 100px;
}

.mgtp-5px{
  margin-top: 5px;
}

.form-login-class{
  width: 510px;
  margin: 0 auto;
  margin-top: 125px;
}
